<ion-view hide-nav-bar="true">
    <ion-content>

        <div class="mainDiv" style="text-align: center">

            <img src="img/logo.png" style="width: 80%; margin: 50px auto;">

            <div class="customInputDiv">
                <input class="customInput" type="number" ng-model="login.user" placeholder="שם משתמש">
            </div>

            <div class="customInputDiv">
                <input class="customInput" type="password" ng-model="login.password" placeholder="סיסמה">
            </div>

            <div class="blueButton" ng-click="doLogin()">כניסה</div>

        </div>

    </ion-content>
</ion-view>