.scroll-content{
    background-image: url(../img/background.png) !important;
    /*background-attachment:fixed;*/
    /*background-position: center;*/
}

.customMenu, .customMenu .item,  .customMenu .item-content{
    background-color: transparent !important;
    border-color: #000A45;
}

.ng-hide {
    display: none !important;
}

.rtl {
    direction: rtl;
}

.mainDiv {
    width: 90%;
    margin: 0 auto;
}

ion-view{
    background-image: url(../img/background.png) !important;
}

.customInputDiv {
    border: 1px solid #000A45;
    text-align: center;
    margin: 10px 0;
    width: 100%;
}

.customInput {
    text-align: center;
    width: 100%;
    background-color: transparent;
}

.customInput::-webkit-input-placeholder{
    color: #000A45 !important;
}

.customInputSelect {
    width: 100%;
    background-color: transparent;
    padding: 7px 0;
    border: none;
}

.blueButton {
    text-align: center;
    width: 100%;
    margin: 5px 0;
    color: white !important;
    font-size: 150%;
    background-color: #000A45 !important;
    padding: 12px 0;
}

.greyButton {
    text-align: center;
    width: 100%;
    margin: 5px 0;
    color: white !important;
    font-size: 150%;
    background-color: #948872 !important;
}

.verticalLine {
    width: 100%;
    height: 1px;
    background-color: #948872;
    margin: 5px 0;
}

.row100 {
    width: 100%;
    overflow: hidden;
}

/*Header*/
.headerButton {
    width: 10%;
    float: right;
    text-align: center;
    padding-top: 20px;
}

.headerLogo {
    width: 80%;
    float: right;
    text-align: center;
    padding: 20px 0 10px 0;
}

/*End of header*/

/*Manager page*/
.managerSearchRight {
    width: 90%;
    float: right;
}

.managerSearchLeft{
    width: 10%;
    float: right;
    text-align: center;
    padding-top: 7px;
}

.managerWorkerName {
    color: #000A45;
    font-size: 150%;
    font-weight: bold;
    margin-right: 10px;
}

.managerWorkerID {
    color: #000A45;
    margin-right: 10px;
}
/*End of manager page*/

/*Worker + Attendance page*/

.workerName {
    width: 100%;
    text-align: center;
    font-size: 150%;
    color: #000A45;
}

.workerDateCell {
    width: 40%;
    float: right;
    padding: 5px;
    background-color:transparent !important;
}

.workerDateLabel{
    padding: 0;
}

.workerDate {
    border: none;
    text-align: center;
    background-color:transparent !important;
    width: 100%;
    padding-left: 5px !important;
}

.workerDate::-webkit-input-placeholder{
    color: #000A45 !important;
}

.workerButtonCell{
    width: 10%;
    float: right;
}

.workerMonth {
    margin-top: 10px;
    width: 50%;
    float: right;
    border-top: 1px solid #000A45;
    border-left: 1px solid #000A45;
    border-bottom: 1px solid #000A45;
    text-align: center;
    padding: 10px 0 10px 10px;
    font-size: 150%;
    color: #000A45;
}

.workerYear {
    margin-top: 10px;
    width: 50%;
    float: right;
    border-top: 1px solid #000A45;
    border-bottom: 1px solid #000A45;
    text-align: center;
    padding: 10px 10px 10px 0;
    font-size: 150%;
    color: #000A45;
}

.workerMonthYearArrow {
    width: 10%;
    float: right;
}

.workerMonthYearText {
    width: 80%;
    float: right;
}

.workerDay {
    width: 15%;
    text-align: center;
    float: right;
    font-size: 200%;
    font-weight: bold;
    color: #000A45;
    border-left: 1px solid #000A45;
}

.workerReport {
    width: 85%;
    float: right;
}

.workerInOutDiv{
    width: 25%;
    float: right;
    padding: 5px;
    background-color: transparent !important;
    border: 0;
}

.workerInOut{
    width: 100%;
    height: 34px;
    line-height: 32px;
    direction: ltr;
    text-align: center;
    background-color: transparent !important;
    border: 1px solid #C2CAD5 !important;
}

.workerInOutMarked {
    width: 100%;
    text-align: center;
    color: #000A45;
    padding: 5px 0;
    background-color: transparent !important;
    border: 1px solid #C2CAD5 !important;
    font-weight: 400;
}

.workerInOutGrey {
    width: 100%;
    text-align: center;
    color: grey;
    padding: 5px 0;
    background-color: transparent !important;
    border: 1px solid #C2CAD5 !important;
}

.workerInOutNotActive {
    width: 100%;
    height: 34px;
    line-height: 32px;
    direction: ltr;
    text-align: center;
    background-color: transparent !important;
    border: 1px solid #C2CAD5 !important;
    color: #C2CAD5;
}

.workerOptionsDiv {
    width: 35%;
    float: right;
    text-align: center;
    padding-top: 12px;
    background-color: transparent !important;
}

.workerOptions {
    background-color: transparent !important;
    border: 0;
}

.workerFile {
    width: 15%;
    float: right;
    text-align: left;
    padding-top: 7px;
}

.workerDiff {
    width: 35%;
    float: right;
    text-align: center;
    padding-top: 12px;
}

.workerSettings {
    width: 15%;
    float: right;
    text-align: center;
}

.workerFooter {
    background-color: #000A45;
    color: white;
    padding: 0;
    border: 0;
}

.workerTotalHoursText{
    width: 70%;
    float: right;
    text-align: right;
    font-size: 150%;
    line-height: 44px;
    padding-right: 5px;
}

.workerTotalHours{
    width: 30%;
    float: right;
    text-align: left;
    font-size: 150%;
    line-height: 44px;
    padding-left: 5px;
}

/*End of worker page*/

/*Statistics page*/
.statsTitle {
    width: 100%;
    font-size: 150%;
    text-align: center;
    margin: 20px 0;
}

.statsCell1 {
    width: 50%;
    float: right;
    border-left: 1px solid #948872;
    border-bottom: 1px solid #948872;
    text-align: center;
}

.statsCell2 {
    width: 50%;
    float: right;
    border-bottom: 1px solid #948872;
    text-align: center;
}

.statsCell3 {
    width: 50%;
    float: right;
    border-left: 1px solid #948872;
    text-align: center;
}

.statsCell4 {
    width: 50%;
    float: right;
    text-align: center;
}

.statsCellNumber {
    font-size: 250%;
    margin: 35px 0 15px 0;
    color: #000A45;
    font-weight: bold;
}

.statsCellText {
    font-size: 120%;
    margin: 0 0 35px 0;
    color: #000A45;
}

.statsFooter {
    width: 100%;
    background: transparent !important;
    text-align: right;
}

.statsFooterText{
    width: 100%;
    font-size: 12px;
    line-height: 44px;
}
/*End of Statistics Page*/

/*Popup and popover*/

.timePopup .popup {
    background-color: transparent;
    width: 70%;
    height: 190px;
}

.timePopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.timePopupMain {
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 15px;
}

.glyphicon{
    font-size: 25px;
}

.datetimepicker-wrapper>input {
    width: 0 !important;
    height: 0 !important;
    display: none;
    visibility: hidden;
}

.uib-time>input {
    width: 40px !important;
    height: 30px !important;
    padding-right: 0 !important;
}

.uib-separator{
    padding: 0 10px 0 5px;
    vertical-align: middle;
}

ion-popover-view.active {
    display: block;
    height: 100px;
}

.popover .scroll-content {
    margin-bottom: 0;
    margin-top: 0;
}

.popoverSmalim {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.popoverRow50 {
    width: 50%;
    float: right;
    padding: 10px;
}

